@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translate(-200px, -80px);
  }
  100% {
    opacity: 1;
    transform: translate(0, -80px);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translate(80px, -200px);
  }
  100% {
    opacity: 1;
    transform: translate(80px, 0);
  }
}
@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translate(200px, 80px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 80px);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translate(-80px, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(-80px, 0);
  }
}
[data-interact-key='circle-top'] > :first-child:not([data-interact-enter]) {
  visibility: hidden;
  transform: none;
  translate: none;
  scale: none;
  rotate: none;
}
[data-interact-key='circle-top'] > :first-child:not([data-interact-enter='done']) {
  --animation-0-zdfs8zrvio: slideTop 900ms 1ms cubic-bezier(0.16, 1, 0.3, 1) both 1 paused;
  --animation-composition-0-zdfs8zrvio: replace;
  --animation-timeline-0-zdfs8zrvio: auto;
  --animation-range-0-zdfs8zrvio: normal;
}
[data-interact-key='circle-right'] > :first-child:not([data-interact-enter]) {
  visibility: hidden;
  transform: none;
  translate: none;
  scale: none;
  rotate: none;
}
[data-interact-key='circle-right'] > :first-child:not([data-interact-enter='done']) {
  --animation-1-m4mv9383wj: slideRight 900ms 100ms cubic-bezier(0.16, 1, 0.3, 1) both 1 paused;
  --animation-composition-1-m4mv9383wj: replace;
  --animation-timeline-1-m4mv9383wj: auto;
  --animation-range-1-m4mv9383wj: normal;
}
[data-interact-key='circle-bottom'] > :first-child:not([data-interact-enter]) {
  visibility: hidden;
  transform: none;
  translate: none;
  scale: none;
  rotate: none;
}
[data-interact-key='circle-bottom'] > :first-child:not([data-interact-enter='done']) {
  --animation-2-hwc0r2zt9z: slideBottom 900ms 200ms cubic-bezier(0.16, 1, 0.3, 1) both 1 paused;
  --animation-composition-2-hwc0r2zt9z: replace;
  --animation-timeline-2-hwc0r2zt9z: auto;
  --animation-range-2-hwc0r2zt9z: normal;
}
[data-interact-key='circle-left'] > :first-child:not([data-interact-enter]) {
  visibility: hidden;
  transform: none;
  translate: none;
  scale: none;
  rotate: none;
}
[data-interact-key='circle-left'] > :first-child:not([data-interact-enter='done']) {
  --animation-3-bzrrb4ofv: slideLeft 900ms 300ms cubic-bezier(0.16, 1, 0.3, 1) both 1 paused;
  --animation-composition-3-bzrrb4ofv: replace;
  --animation-timeline-3-bzrrb4ofv: auto;
  --animation-range-3-bzrrb4ofv: normal;
}
[data-interact-key='circle-top'] > :first-child {
  animation: var(--animation-0-zdfs8zrvio, none);
  animation-composition: var(--animation-composition-0-zdfs8zrvio, replace);
  animation-timeline: var(--animation-timeline-0-zdfs8zrvio, auto);
  animation-range: var(--animation-range-0-zdfs8zrvio, normal);
}
[data-interact-key='circle-right'] > :first-child {
  animation: var(--animation-1-m4mv9383wj, none);
  animation-composition: var(--animation-composition-1-m4mv9383wj, replace);
  animation-timeline: var(--animation-timeline-1-m4mv9383wj, auto);
  animation-range: var(--animation-range-1-m4mv9383wj, normal);
}
[data-interact-key='circle-bottom'] > :first-child {
  animation: var(--animation-2-hwc0r2zt9z, none);
  animation-composition: var(--animation-composition-2-hwc0r2zt9z, replace);
  animation-timeline: var(--animation-timeline-2-hwc0r2zt9z, auto);
  animation-range: var(--animation-range-2-hwc0r2zt9z, normal);
}
[data-interact-key='circle-left'] > :first-child {
  animation: var(--animation-3-bzrrb4ofv, none);
  animation-composition: var(--animation-composition-3-bzrrb4ofv, replace);
  animation-timeline: var(--animation-timeline-3-bzrrb4ofv, auto);
  animation-range: var(--animation-range-3-bzrrb4ofv, normal);
}
